{% extends 'app.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body_content %}
<div class="container">
    <div class="card">
        <h1>Connectez-vous</h1>
        <form method="post">
            <div class="mb-3">
                <label for="inputEmail" class="label">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="label">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {% if error %}
                {% if error.message == 'reCaptcha obligatoire' %}
                    <div class="alert alert-danger">reCaptcha obligatoire</div>
                {% else %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            {% endif %}

            <div class="g-recaptcha" data-sitekey="6Lc3HZ4pAAAAAC5T5Lc1JejM7pXD5X08CXTRT4oA"></div>

            <div class="text-center">
                <button class="btn2" type="submit">Connexion</button>
            </div>
        </form>

        <div class="container text-center mt-3">
            <p>--------------------</p>
        </div>

        <div class="container text-center mt-3">
            <p>Vous n'avez pas de compte?
                <button class="btn2" onclick="window.location.href='{{ path('app_register') }}'">Inscrivez-vous
                </button>
            </p>
                <p>Consultez nos <a href="{{ path('cgv') }}">Conditions Générales de Vente</a>.</p>
        </div>
    </div>
</div>
	{% endblock %}

