{# templates/registration/register.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Inscription</title>
</head>
<body>
    <h1>Formulaire d'inscription</h1>


    {{ form_start(form) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.email) }} 
        {{ form_row(form.password) }} 
        {{ form_row(form.streetName) }}
        {{ form_row(form.additionalAddress) }}
        {{ form_row(form.zipcode) }}
        {{ form_row(form.city) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
</body>
</html>
