{% extends 'app.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body_content %}

	<div class="row">
		<div class="col-md-2">
			<form action="{{ path('search_products') }}" method="GET">
				<label for="category">
					<span style="font-weight: bold;">Catégorie :</span>
				</label><br>
				<input type="checkbox" id="category_pierres_roulees" name="category[]" value="pierres roulées" {% if 'pierres roulées' in app.request.query.get('category', []) %} checked {% endif %}>
				<label for="category_pierres_roulees">Pierres roulées</label><br>
				<input type="checkbox" id="category_pierres_brutes" name="category[]" value="pierres brutes" {% if 'pierres brutes' in app.request.query.get('category', []) %} checked {% endif %}>
				<label for="category_pierres_brutes">Pierres brutes</label><br>
				<input type="checkbox" id="category_bijoux" name="category[]" value="bijoux" {% if 'bijoux' in app.request.query.get('category', []) %} checked {% endif %}>
				<label for="category_bijoux">Bijoux</label><br>
				<input type="checkbox" id="category_geodes" name="category[]" value="géodes" {% if 'géodes' in app.request.query.get('category', []) %} checked {% endif %}>
				<label for="category_geodes">Géodes</label><br>
				<input type="checkbox" id="category_spheres" name="category[]" value="sphères" {% if 'sphères' in app.request.query.get('category', []) %} checked {% endif %}>
				<label for="category_spheres">Sphères</label><br>
				<input type="checkbox" id="category_pointes" name="category[]" value="pointes" {% if 'pointes' in app.request.query.get('category', []) %} checked {% endif %}>
				<label for="category_pointes">Pointes</label><br>

				<br><label for="color">
					<span style="font-weight: bold;">Couleur :</span>
				</label><br>
				<input type="checkbox" id="color_bleue" name="color[]" value="bleue" {% if 'bleue' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_bleue">Bleue</label><br>
				<input type="checkbox" id="color_verte" name="color[]" value="verte" {% if 'verte' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_verte">Verte</label><br>
				<input type="checkbox" id="color_violette" name="color[]" value="violette" {% if 'violette' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_violette">Violette</label><br>
				<input type="checkbox" id="color_jaune" name="color[]" value="jaune" {% if 'jaune' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_jaune">Jaune</label><br>
				<input type="checkbox" id="color_noire" name="color[]" value="noire" {% if 'noire' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_noire">Noire</label><br>
				<input type="checkbox" id="color_marron" name="color[]" value="marron" {% if 'marron' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_marron">Marron</label><br>
				<input type="checkbox" id="color_orange" name="color[]" value="orange" {% if 'orange' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_orange">Orange</label><br>
				<input type="checkbox" id="color_multicolore" name="color[]" value="multicolore" {% if 'multicolore' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_multicolore">Multicolore</label><br>
				<input type="checkbox" id="color_rose" name="color[]" value="rose" {% if 'rose' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_rose">Rose</label><br>
				<input type="checkbox" id="color_rouge" name="color[]" value="rouge" {% if 'rouge' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_rouge">Rouge</label><br>
				<input type="checkbox" id="color_grise" name="color[]" value="grise" {% if 'grise' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_grise">Grise</label><br>
				<input type="checkbox" id="color_blanche" name="color[]" value="blanche" {% if 'blanche' in app.request.query.get('color', []) %} checked {% endif %}>
				<label for="color_blanche">Blanche</label><br>

				<div class="mb-4 mt-4">
					<button class="btn2" type="submit">Rechercher</button>
				</div>
			</form>
		</div>

		<div class="col-md-8">
			{% if searchResults is defined and searchResults is not empty %}
			<h1>Recherche multicritères</h1>
				<div class="card-columns mt-4">
					{% for product in searchResults %}
                    <div class="card d-flex justify-content-center align-items-center">
							<div class="card-image">
								<img src="{{ asset('assets/images/' ~ product.productPicture) }}" class="card-img-top" alt="{{ product.productName }}">
							</div>

							<div class="card-body">
								<h5 class="card-title">{{ product.productName }}</h5>
								<p class="card-text">{{ product.productDescription }}</p>
								<p class="card-text">
									<span class="highlight">Référence:</span>
									{{ product.productReference }}</p>
								<p class="card-text">
									<span class="highlight">Pays d'origine:</span>
									{{ product.productOriginCountry }}</p>
								<p class="card-text">
									<span class="highlight">Couleur:</span>
									{{ product.productColor }}</p>
								<p class="card-text">
									<span class="highlight">Stock:</span>
									{{ product.productStock }}</p>
								<p class="card-text">
									<span class="highlight">Prix unitaire:</span>
									{{ product.productPrice }}
									€</p>
								<div class="container text-center mt-3">
									<div class="quantity-controls mt-2">
										<button class="btn btn-sm btn-minus" onclick="decrementQuantity(this)">-</button>
										<input type="number" class="quantity-input" value="1" min="1">
										<button class="btn btn-sm btn-plus" onclick="incrementQuantity(this)">+</button>
									</div>
									<button class="btn2 btn-add-to-cart" data-id="{{ product.id }}" data-name="{{ product.productName }}" data-price="{{ product.productPrice }}" data-picture="{{ product.productPicture }}">
										<i class="bi bi-cart-fill"></i>
										Ajouter au panier</button>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<p>Aucun résultat trouvé.</p>
			{% endif %}
		</div>
	</div>

{% endblock %}
