<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ asset('assets/styles/app.css') }}" rel="stylesheet">
    <title>Résultats de la recherche - Dream Stones</title>
</head>

<body>
    <header>
        {% include 'includes/header.php' %}
    </header>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <!-- Contenu du panier -->
    </div>

    <div class="container">
        <h1>Résultats de la recherche pour "{{ searchTerm }}"</h1>
        <div class="row">
            {% if searchResults is not empty %}
                {% for product in searchResults %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="{{ product.productPicture }}" class="card-img-top" alt="{{ product.productName }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.productName }}</h5>
                                <p class="card-text">{{ product.productDescription }}</p>
                                <a href="{{ path('product_details', {'id': product.id}) }}" class="btn btn-primary">Voir les détails</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun résultat trouvé pour "{{ searchTerm }}".</p>
            {% endif %}
        </div>
    </div>

    <footer>
        {% include 'includes/footer.php' %}
    </footer>

    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
