{% extends 'app.html.twig' %}

{% block title %}Profil utilisateur
{% endblock %}

{% block body_content %}

		<div class="containerBtn mt-3">
			{% block logout %}
				<form action="{{ path('app_logout') }}" method="post">
					<button type="submit" class="btn2">Déconnexion</button>
				</form>
			{% endblock %}
		</div>

		<div class="containerProf">
			{% block content %}
				<div class="card">
					<h1>Votre Profil</h1>
					<div class="card-body">
						<p class="card-text">
							<span class="highlight">Email:</span>
							{{ user.getEmail() }}
						</p>
						<p class="card-text">
							<span class="highlight">Nom:</span>
							{{ user.getName() }}
						</p>
						<p class="card-text">
							<span class="highlight">Prénom:</span>
							{{ user.getFirstname() }}
						</p>
						<p class="card-text">
							<span class="highlight">Téléphone:</span>
							{{ user.getPhone() }}
						</p>
						<p class="card-text">
							<span class="highlight">Adresse:</span>
							{{ user.getStreetName() }}
						</p>
						<p class="card-text">
							<span class="highlight">Complément d'adresse:</span>
							{{ user.getAdditionalAddress() }}
						</p>
						<p class="card-text">
							<span class="highlight">Code postal:</span>
							{{ user.getZipcode() }}
						</p>
						<p class="card-text">
							<span class="highlight">Ville:</span>
							{{ user.getCity() }}
						</p>

						<div class="text-center">
							<div class="btn-group">
								<button class="btn2 btn-primary btn-spacing" id="btnModifier">Modifier</button>

								<form action="{{ path('app_profile_delete') }}" method="post" id="formDelete">
									<button type="submit" class="btn2 btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre profil ?');">Supprimer</button>
								</form>

							</div>
						</div>

						<!-- Formulaire de modification (initialement caché) -->
						<form action="{{ path('app_profile_update') }}" method="post" id="formModification" style="display: none;">
							<div class="card-body">
								{{ form_start(form) }}
								<div class="form-group">
									{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
								</div>
								<div class="form-group">
									{{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
								</div>
								<div class="form-group">
									{{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
								</div>
								<div class="form-group">
									{{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
								</div>
								<div class="form-group">
									{{ form_row(form.streetName, {'attr': {'class': 'form-control'}}) }}
								</div>
								<div class="form-group">
									{{ form_row(form.additionalAddress, {'attr': {'class': 'form-control'}}) }}
								</div>
								<div class="form-group">
									{{ form_row(form.zipcode, {'attr': {'class': 'form-control'}}) }}
								</div>
								<div class="form-group">
									{{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
								</div>
								<div class="text-center">
									<button type="submit" class="btn2 btn-primary">Enregistrer</button>
									<button type="button" class="btn2 btn-secondary" onclick="cancelModification()">Annuler</button>

								</div>
								{{ form_end(form) }}
							</div>
						</form>
					</div>
				</div>
			{% endblock %}
		</div>

	{% endblock %}

	{% block specific_script %}

		<script>
			document.getElementById('btnModifier').addEventListener('click', function () {
document.getElementById('formModification').style.display = 'block';
this.style.display = 'none';
});

function cancelModification() { // Demande confirmation à l'utilisateur avant d'annuler les modifications
if (confirm('Voulez-vous annuler les modifications et revenir au profil ?')) { // Redirige vers le profil
window.location.href = "{{ path('app_profil') }}";
}
}
		</script>
{% endblock %}

