{% extends 'app.html.twig' %}

{% block title %}Détails d'une pierre
{% endblock %}

{% block body_content %}

		<h1>Détails de la pierre</h1>

		<div class="card">
			<div class="card-image">
				<img src="{{ asset('assets/images/' ~ product.productPicture) }}" class="card-img-top" alt="Image du produit">
			</div>

			<div class="card-body">
				<h5 class="card-title">{{ product.productName }}</h5>
				<p class="card-text">{{ product.productDescription }}</p>
				<p class="card-text">
					<span class="highlight">Référence:</span>
					{{ product.productReference }}</p>
				<p class="card-text">
					<span class="highlight">Pays d'origine:</span>
					{{ product.productOriginCountry }}</p>
				<p class="card-text">
					<span class="highlight">Couleur:</span>
					{{ product.productColor }}</p>
				<p class="card-text">
					<span class="highlight">Stock:</span>
					{{ product.productStock }}</p>
				<p class="card-text">
					<span class="highlight">Prix unitaire:</span>
					{{ product.productPrice }}
					€</p>
				<div class="container text-center mt-3">
					<div class="quantity-controls mt-2">
						<button class="btn btn-sm btn-minus" onclick="decrementQuantity(this)">-</button>
						<input type="number" class="quantity-input" value="1" min="1">
						<button class="btn btn-sm btn-plus" onclick="incrementQuantity(this)">+</button>
					</div>
					<button class="btn2 btn-add-to-cart" data-id="{{ product.id }}" data-name="{{ product.productName }}" data-price="{{ product.productPrice }}" data-picture="{{ product.productPicture }}">
						<i class="bi bi-cart-fill"></i>
						Ajouter au panier</button>

				</div>
			</div>
		</div>
{% endblock %}
