{% extends 'app.html.twig' %}

{% block title %}Historiques des commandes{% endblock %}

{% block body_content %}
    <h1>Historique des commandes</h1>

    <table>
        <thead>
            <tr>
                <th>Référence</th>
                <th>Date</th>
                <th>Moyen de paiement</th>
                <th>Statut</th>
                <th>Total</th>
                <th>Sup</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.ref }}</td>
                    <td>{{ order.date|date('d/m/Y') }}</td>
                    <td>{{ order.paymentMode }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.totalPrice }} €</td>
                    <td>
                        {% if order.status == 'en attente de validation' %}
                            <button class="btn2 btn-delete" data-order-id="{{ order.id }}" data-order-ref="{{ order.ref }}">
                                <i class="bi bi-trash"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block specific_script %}
    <script>
        document.querySelectorAll('.btn-delete').forEach(async button => {
            button.addEventListener('click', async () => {
                const orderId = button.dataset.orderId;
                const orderRef = button.dataset.orderRef;
                const confirmation = confirm(`Êtes-vous sûr de vouloir supprimer la commande n°${orderRef} ?`);

                if (confirmation) { // Envoie la requête de suppression si l'utilisateur confirme
                    try {
                        const response = await fetch(`/history/delete/${orderId}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json'
                            }
                        });
                        if (response.ok) { // Actualise la page après la suppression réussie
                            window.location.reload();
                        } else {
                            throw new Error('Erreur lors de la suppression de la commande');
                        }
                    } catch (error) {
                        console.error('Erreur lors de la requête de suppression:', error);
                    }
                }
            });
        });
    </script>
{% endblock %}
